@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DotGothic16&family=Yusei+Magic&display=swap');

html{
    font-size: 24px;
}

p{
    font-family: 'Yusei Magic', sans-serif;
    font-size: 1.5em;
    line-height: 2;
}
h1{
    font-family: 'DotGothic16', sans-serif;
    font-size: 2.5em;
}

nav a{
    font-size: 1.0em;
    color: tomato;
    text-decoration: none;
}

nav .current a {
    font-weight: bolder;
}

nav a:hover{
    color: rgb(102, 133, 226);
    text-decoration: underline;
}

section span{
    font-weight: bold;
}
section p{
    color: violet;
}
section span2{
    color: slateblue;
}

.welcome h1,
.welcome span{
    color: #180a9e;
}

.pride h1,
.pride span{
    color: #07940e;
}



.copyright{
    color: rgb(255, 255, 255);
    background: #333;
}