@charset "utf-8";

/* -------------------------------------
  共通／全体
  ------------------------------------*/
body {
  font-family: "メイリオ", sans-serif;
  color: #333333;
  line-height: 1.4;
}

/* -------------------------------------
  コンテンツ
  ------------------------------------*/
#ichioshi h1 {
  text-align: center;
}
#ichioshi .plan h2 {
  color: #ea1111;
}
#ichioshi .plan .price {
  font-weight: bold;
  color: #45aa0f;
}

/* -------------------------------------
  フッター
  ------------------------------------*/
footer {
  text-align: center;
}
